* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-green: #A6B36B;
    --med-green: #C2CD86;
    --light-green: #E2EC8D;
    --board-brown: #c89867;
    --brown: #4E2916;
    --link-green: #44be44;
    --trans: .125s;
    --long-trans: .4s;
}

.main-nav.scrolled {
    height: 7vh;
    min-height: 37.5px;
}

.main-nav {
    overflow: hidden;
    position: sticky;
    top:0;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 10vh;
    min-height: 75px;
    transition: height var(--long-trans);
}

.top-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .5vw;
}

.top-link img {
    max-height: 29px;
}

.main-nav>li>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: stretch;
}

.top-link {
    font-family: 'DynaPuff';
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 1vh 1vw 1vh 1vw;
    outline-color: var(--brown);
    transition: background-color var(--trans), transform var(--trans), color var(--trans), outline var(--trans);
}

.top-link:hover {
    background-color: var(--board-brown);
    color: var(--brown);
    outline: 3px solid var(--brown);
    transform: rotate(5deg);
}

.top-link.scrolled:hover {
    transform: rotate(0deg);
}

.header-contact li a img {
    height: 18.75px;
    opacity: .5;
    transition: opacity var(--trans);
}

.header-contact {
    gap: 7.5px;
}

.header-contact li a img:hover {
    opacity: 1;
}

.main-nav li {
    list-style-type: none;
}

.nav-sect {
    display: flex;
    align-items: stretch;
    width: 20%;
}

.nav-links {
    width: 80%;
}

nav {
    position: sticky;
    top:0;
    border-bottom: 10px solid var(--brown);
    z-index: 10;
}

header {
    position: sticky;
    top:0;
}

.subheader.one {
    height: 3.5vh;
    /* min-height: 18.75px; */
    background-color: var(--med-green);
}

.subheader.two {
    height: 1.75vh;
    /* min-height: 9.375px; */
    background-color: var(--light-green);
}

.subheader {
    transition: height var(--long-trans);
}

.subheader.scrolled {
    height: 0px;
    transition: height var(--long-trans);
}


main .back {
    position: fixed;
    background: url("../img/home_background.png") no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index:-10;
}

.logo-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    top:0;
    left:0;
    z-index: -1;
}

.back img {
    width: 490px;
}

.page-stopper {
    width: 100%;
    height: calc(87.75vh + 10px);
}

.game-showcase {
    padding: 20vh 4vw 20vh 4vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 3vw;
    max-height: 475px;
}

.game-showcase-start {
    border-top: 35px solid var(--brown);
}

.game-showcase-end {
    border-bottom: 35px solid var(--brown);
    margin-bottom: 10vh;
}

#BerryBlast {
    background: url("../img/berry_blast_background.png") no-repeat center center fixed;
}

.game-link {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2vh;
}

.game-link img {
    max-width: 100%;
}

.product-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--link-green);
    box-sizing: border-box;
    min-width: 0;
    min-height: 20%;
    transition: background-color var(--trans), border var(--trans);
}

.product-link img {
    max-height: 50%;
}

.product-link:hover {
    background-color: white;
    border: 1vw solid var(--link-green);
}

.product-link span {
    display: none;
    font-family: 'DynaPuff';
    color: var(--link-green);
    text-align: center;
    font-size: 3vw;
}

.product-link:hover span {
    display: inline-block;
    position: absolute;
}

.product-link:hover img {
    display: block;
    visibility: hidden;
}

.product-link:hover a:after {
    content: 'test';
}

.big-showcase {
    background-color: #d9d9d9;
    width: 50%;
    aspect-ratio: 16/9;
}
.gallery {
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: .5vw;
}

.gallery-item {
    display: none;
    aspect-ratio: 16/9;
    background-color: #d9d9d9;
    justify-content: center;
    align-items: center;
    align-content: center;
    object-fit: contain;

}

.gallery-item img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 650px) {
    .nav-contact {
        display: none;
    }
    .top-link span {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .top-link {
        padding: 1vh 3vw 1vh 3vw;
    }
    .top-link span {
        display: none;
    }
    .top-link img {
        max-height: 44px;
    }
}

@media only screen and (max-height: 650px) {
    .top-link img {
        max-height: 29px;
    }
}

